$backgroundColor: #2d2e32;
*:focus {outline:0;}

body, html, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: $backgroundColor;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto';
}

label {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20rem;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #25262a;
  padding: 1rem 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}

.contact {
  padding: 2.5rem 15rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .info {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);

    font-style: italic;
  }

  .contact-btn {
    background: #529ad1;
    border: none;
    color: #fff;
    width: 120px;
    height: 45px;
    border-radius: 6px;
    margin-left: 2rem;
    transition: ease-in 150ms;
    
    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
  }
}

.projects {
  padding: 2.5rem 15rem;
  background: #25262a;

  .grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  .project {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    margin-top: 2rem;

    .project-thumb {
      width: 350px;
      max-height: 169px;
    }

    .links {
      display: flex;
      margin-top: 0.5rem;

      .link {
        margin: 0;
        padding: 0;
        color: #fff;
        opacity: 0.5;
        font-size: 14px;
        margin-right: 1rem;
        text-decoration-line: none;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }


  }
}

.header {
  display: flex;
  height: 850px;
  align-items: center;
  padding: 2.5rem 15rem;
  justify-content: space-between;

  .expertise {
    width: 45%;
    height: 50%;
    animation: fadeIn 1s ease-in forwards;
    
    .icons {
      display: flex;
      margin-top: 0.5rem;
      flex-wrap: wrap;
    }

    .info {
      color: rgba(255, 255, 255, 0.7);
      font-size: 20px;
    }

    .item {
      display: flex;
      min-height: 80px;
      min-width: 80px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      background-color: #25262a;
      margin: 1rem 0.5rem;
      animation: float 6s ease-in-out infinite;
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.3);

      &:hover {
        cursor: pointer;
      }

      .icon {
        font-size: 30px;
      }

    }
  }

  .introduction {
    width: 45%;
    height: 50%;
    animation: fadeIn 1s ease-in forwards;
  
    h1, p {
      padding: 0;
      margin: 0;
    }

    h1 {
      color: #fff;
      font-size: 30px;
      margin-top: 2rem;
    }

    p {
      color: rgba(255, 255, 255, 0.7);
      // opacity: 0.7;
      margin-top: 5px;
      font-size: 20px;

      span {
        opacity: 1;
      }
    }
  }
}

.navigation {
  display: flex;
  padding: 0 15rem;
  margin-top: 3.5rem;
  padding: 1rem 15rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: $backgroundColor;
  z-index: 2;
  .left-nav {
    display: flex;
  }

  .logo {
    display: block;
    color: #ffffffe0;
    font-size: 26px;
    font-weight: 400;

    span {
      font-weight: 500;
      color: #fff;
    }
  }

  .navigation-links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 5rem;
    
    .navigation-item {
      color: #fff;
      margin: 0 1rem;
      font-weight: 500;
      transition: ease-in 250ms;

      &:hover {
        color: #529ad1;
        cursor: pointer;
      }
    }
    
    .active {
      color: #529ad1;
    }
  }

  .navigation-social {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

    .navigation-item {
      margin: 0 0.8rem;
      color: #ffffffab;
      font-weight: 400;
      transition: ease-in 200ms;
      padding: 10px 20px;

      svg {
        color: #fff;
        margin-right: 5px;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #25262a;
        border-radius: 50px;
        // color: #529ad1!important;
      }
    }
  }
  
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.25);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.1);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.25);
		transform: translatey(0px);
	}
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1; }
}

.container {
  z-index: 3;
}

.commet-animation, .wave-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  overflow: hidden;
}

.meteor {
  position: absolute;
  width: 70.48px;
  height: 2px;
  background: linear-gradient(90deg, #B9E9F9 12.91%, rgba(185, 233, 249, 0.24) 53.3%, rgba(185, 233, 249, 0) 100%);
  border-radius: 16px 0 0 16px;
}


@keyframes meteor-1 {
  0% {
    transform: translate(0, 0) rotate(198deg);
    width: 36px;
  }

  25% {
    width: 56px;
  }

  60% {
    width: 80.48px;
    transform: translate(100vh, 100vh) rotate(225deg);
  }

  100% {
    transform: translate(100vh, 100vh) rotate(245deg);
    width: 46px;
  }
}
@keyframes meteor-2 {
  0% {
    transform: translate(0, 0) rotate(145deg);
    width: 46px;
  }

  15% {
    width: 30px;
  }

  40% {
    width: 70.48px;
  }

  100% {
    transform: translate(100vh, -50vh) rotate(165deg);
    width: 46px;
  }
}
